.container {
	width: 360px;
	padding: 4px;
}

.container h2 {
	padding: 2px;
	margin: 0;
	border-bottom: 1px solid #eee;
}

.container form {
	margin: 6px;
	text-align: right;
	display: flex;
}

.container input {
	flex-grow: 1;
}
